#navBar{
    display: flex;
    background-color: rgb(77, 85, 112);
    height: 50px;
}
#nombre{
    font-size: 30px;
    margin-top: 3px;
}
#botones{
    text-align: right;
    margin-left: 1000px;
    background-color: rgb(77, 85, 112);
    margin-top: 15px;
}
a{
    text-decoration: none;
    color:black;
    padding-left: 10px;
}
a:hover{
    font-size: large;
    background-color: rgb(50, 64, 110);
}
#carritoCompra{
    width: 15px;
    height: 15px;
}
#cartWidget{
    width: 45px;
    height: 45px;
}
#cantidad{
    display: inline-block;
}
#catalogo{
    margin-top: 250px;
}
#cantidad{
    margin-left: 10px;
    margin-right: 10px;
}
#counter{
    margin-top: 50px;
}
#addCarrito{
    margin-top: 35px;
    background-color: rgb(77, 85, 112);
}
#botonMas{
    background-color: rgb(77, 85, 112);
}
#botonMenos{
    background-color: rgb(77, 85, 112);
}